body {
  background-color: #0e0e14;
  color: white;
}

#exportButton {
  margin-bottom: 0;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(81, 81, 81, 0.47);
}

::selection {
  background: rgba(81, 81, 81, 0.47);
}

input[type="range"] {
  accent-color: #864879;
}

#projectName {
  background-color: #0e0e14;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
}

#projectName:focus {
  outline: none;
  border: none;
  background-color: #1f1d36;
}

#projectName:hover {
  outline: none;
  border: none;
  background-color: #1f1d36;
}

#exportButton {
  background-color: #1f1d36;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
}

#exportButton:hover {
  background-color: #3f3351;
  transition: all 0.2s;
}

#dd {
  height: 50%;
  padding-right: 10%;
}

#drop-zone {
  border: 2px dashed #1f1d36;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#drop-zone:hover {
  border: 2px dashed #3f3351;
  transition: all 0.2s;
}

.container-box {
  border: 2px solid #1f1d36;
  transition: all 0.2s;
}

.container-box:hover,
.container-box:focus {
  border: 2px solid #3f3351;
}

/* Image grid formatting */

.image-grid-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 15px;
}

/* Create four equal image-grids that sits next to each other */
.image-grid {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 10px;
}

.image-grid img {
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s;
  /* make it so that image fills the area, crops in if required */
  object-fit: cover;
  height: 100%;
}

.image-grid img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Responsive layout - makes a two image-grid-layout */
@media screen and (max-width: 800px) {
  .image-grid {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
