body {
  background-color: #0e0e14;
  color: white;
}

#exportButton {
  margin-bottom: 0;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(81, 81, 81, 0.47);
}

::selection {
  background: rgba(81, 81, 81, 0.47);
}

input[type="range"] {
  accent-color: #864879;
}

#projectName {
  background-color: #0e0e14;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
}

#projectName:focus {
  outline: none;
  border: none;
  background-color: #1f1d36;
}

#projectName:hover {
  outline: none;
  border: none;
  background-color: #1f1d36;
}

#exportButton {
  background-color: #1f1d36;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
}

#exportButton:hover {
  background-color: #3f3351;
  transition: all 0.2s;
}

#dd {
  height: 50%;
  padding-right: 10%;
}

#drop-zone {
  border: 2px dashed #1f1d36;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#drop-zone:hover {
  border: 2px dashed #3f3351;
  transition: all 0.2s;
}

.container-box {
  border: 2px solid #1f1d36;
  transition: all 0.2s;
}

.container-box:hover,
.container-box:focus {
  border: 2px solid #3f3351;
}

/* Image grid formatting */

.image-grid-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 15px;
}

/* Create four equal image-grids that sits next to each other */
.image-grid {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 10px;
}

.image-grid img {
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s;
  /* make it so that image fills the area, crops in if required */
  object-fit: cover;
  height: 100%;
}

.image-grid img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Responsive layout - makes a two image-grid-layout */
@media screen and (max-width: 800px) {
  .image-grid {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Video glow effect */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.canvas,
.canvas-low {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  transition: all 0.5s;
}

.wrapper {
  box-shadow: inset 0 0 4rem 4.5rem var(--color-background);
  max-width: 1600px;
  transition: all 0.5s;
}

.canvas,
.canvas-low {
  position: absolute;
  /* make this at center of screen */
  top: 36%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 52.5vw;

  /* calculate the height of video */
  height: calc(60vw * 0.5625);

  opacity: 0.2;
  border-radius: 20px;

  /* make it blurred and add some bleeding */
  filter: blur(20px);
}

.canvas-low {
  opacity: 0.05;
  filter: blur(40px);
  z-index: -2;
  width: 65vw;
  height: calc(75vw * 0.5625);
}

@media (prefers-reduced-motion: reduce) {
  .canvas,
  .canvas-low {
    display: none !important;
  }
}

.dialog-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.2s;
}

.dialog {
  border-radius: 20px;
  background-color: #e9a6a6;
  /* blur everything behind this */
  backdrop-filter: blur(20px);
  text-align: center;
  transition: all 0.2s;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-container h2 {
  margin-top: 20px;
  margin-bottom: 20px;

  color: #1f1d36;
}

.dialog-container p {
  margin-top: 20px;
  margin-bottom: 20px;

  color: #1f1d36;
}

.dialog-container button {
  margin: 20px;
  padding: 10px;
  /* set the height as the maximum of fit content and 5vh */
  height: max(5vh, fit-content);
  width: max(10vw, fit-content);
  border: none;
  border-radius: 10px;
  background-color: #1f1d36;
  color: white;
  transition: all 0.2s;
}

.dialog-container button:hover {
  background-color: #3f3351;
  transition: all 0.2s;
}

.dialog-container button:active {
  background-color: #864879;
  transition: all 0.2s;
}

.dialog-container menu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
}

.dialog-container select {
  padding: 10px;
  border-radius: 10px;
  background-color: #3f3351;
  color: white;
  border: none;
  transition: all 0.2s;
}

.dialog-container select:hover {
  background-color: #1f1d36;
  transition: all 0.2s;
}

.dialog-container label {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #1f1d36;
}

#heightRes,
#widthRes {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: #864879;
  color: white;
  border: none;
  transition: all 0.2s;
  margin: 10px;
}

#heightRes::placeholder,
#widthRes::placeholder {
  color: rgb(200, 200, 200);
}

.audio-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 20px;
}

.audio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #1f1d36;
  margin-top: 10px;
  transition: all 0.2s;
}

.audio-item:hover {
  background-color: #3f3351;
  transition: all 0.2s;
}

.audio-item p {
  color: white;
  margin: 0;
}

.img-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.timeline-image-modifiers {
  display: flex;
  /* make it so that the content is spaced uptil the edges */
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #1f1d36c5;
  border-radius: 5px;
}

.timeline-image-modifiers input {
  width: min(55px, 50%);
  margin: 20%;
  padding: 5px;
  border-radius: 10px;
  background-color: #1f1d36;
  color: white;
  border: none;
  transition: all 0.2s;
  margin: auto;
  /* make text centered */
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.timeline-image-modifiers button {
  border-radius: 10px;
  background-color: #1f1d36;
  color: white;
  border: none;
  transition: all 0.2s;
  margin: auto;
}

.timeline-audio-modifiers {
  display: flex;
  /* make it so that the content is spaced uptil the edges */
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #1f1d36c5;
  border-radius: 5px;
}

.timeline-audio-modifiers input {
  width: min(55px, 50%);
  margin: 20%;
  padding: 5px;
  border-radius: 10px;
  background-color: #1f1d36;
  color: white;
  border: none;
  transition: all 0.2s;
  margin: auto;
  /* make text centered */
  text-align: center;
  border: 2px solid #3f3351;
}

.timeline-audio-modifiers .file-name {
  width: min(150px, 25%);
  /* remove the borders shown when textbox is active */
  border: none;
}

.timeline-audio-modifiers button {
  border-radius: 10px;
  background-color: #1f1d36;
  color: white;
  border: none;
  transition: all 0.2s;
  margin: auto;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
